<script setup>
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'
import axios from 'axios'

import { useUserStore } from '../stores/user.js'
import router from '../router/index.js'

const route = useRoute()
const userStore = useUserStore()

if (!userStore.jwt) {
  router.push('/')
}

const gameDetails = ref(undefined)

onMounted(async () => {
  if (!route.params?.id) {
    return
  }

  const gatewayUrl = import.meta.env.VITE_GATEWAY_URL

  const url = `${gatewayUrl}/steam-api/getGameDetails?appid=${route.params.id}`
  const axiosConfig = {
    headers: {
      Authorization: `Bearer ${userStore.jwt}`
    }
  }

  gameDetails.value = (await axios.get(url, axiosConfig)).data
})
</script>

<template>
  <div class="mt-16 w-100">
    <v-container>
      <v-row>
        <v-col cols="2" />
        <v-col cols="8">
          <v-card v-if="gameDetails">
            <v-img
              :src="gameDetails.headerImage ?? 'https://cdn.pixabay.com/photo/2018/03/13/22/53/puzzle-3223941_960_720.jpg'"
              cover
            >
              <a :href="gameDetails.website" class="position-absolute" style="right: 5px; top: 3px">
                <v-icon icon="mdi-web" color="white" size="30" />
              </a>
            </v-img>
            <div class="position-relative" style="height: 20px">
              <v-progress-linear
                absolute
                :model-value="(gameDetails.totalPositive * 100) / (gameDetails.totalPositive + gameDetails.totalNegative)"
                height="20"
                color="green"
              >
                <template v-slot:default="{ value }">
                  <span>{{ Math.ceil(value) }}%</span>
                </template>
              </v-progress-linear>
              <v-progress-linear
                absolute
                reverse
                :model-value="(gameDetails.totalNegative * 100) / (gameDetails.totalPositive + gameDetails.totalNegative)"
                height="20"
                color="red"
              >
              </v-progress-linear>
            </div>
            <v-card-title>{{ gameDetails.name ?? 'Unknown' }}</v-card-title>
            <v-card-subtitle>
              {{ gameDetails.dateOfRelease }}
            </v-card-subtitle>
            <v-divider />
            <v-card-text>{{ gameDetails.shortDescription ?? 'Unknown' }}</v-card-text>
            <v-divider />
            <v-card-text>
              <span v-html="gameDetails.genresDescription" />
            </v-card-text>
            <v-divider />
            <v-card-text>
              <span v-html="gameDetails.supportedLanguages" />
            </v-card-text>
            <v-divider />
            <v-card-text class="px-8">
              <span v-html="gameDetails.minimumRequirements" />
            </v-card-text>
            <div v-if="gameDetails.recommendedRequirements">
              <v-divider />
              <v-card-text class="px-8">
                <span v-html="gameDetails.recommendedRequirements" />
              </v-card-text>
            </div>
          </v-card>
          <div v-else class="text-center">
            <v-progress-circular
              indeterminate
              color="primary"
            />
          </div>
        </v-col>
        <v-col cols="2" />
      </v-row>
    </v-container>
  </div>
</template>