<script setup>
import Games from '@/components/Games.vue'
import { useUserStore } from '../stores/user.js'

const userStore = useUserStore()
</script>

<template>
  <v-container class="mt-16">
    <games v-if="userStore.jwt" />
    <h2 v-else class="text-center">You have to sign in first!</h2>
  </v-container>
</template>
