<script setup>
import { onMounted } from 'vue'
import axios from 'axios'
import { useUserStore } from '../stores/user.js'
import { useRouter } from 'vue-router'

const router = useRouter()
const userStore = useUserStore()

const authenticate = async () => {
  if (userStore.jwt) {
    await router.push('/')

    return
  }

  const gatewayUrl = import.meta.env.VITE_GATEWAY_URL
  const queryParamsString = window.location.href.split('?')[1]

  try {
    userStore.jwt = (
      await axios.get(`${gatewayUrl}/auth/SteamAuth?${queryParamsString}`)
    ).data
  } catch (error) {
    console.error(error)
  } finally {
    await router.push('/')
  }
}

onMounted(async () => {
  await authenticate()
})
</script>

<template>
  <main></main>
</template>
