<script setup>
import { onMounted, ref } from 'vue'

import axios from 'axios'
import { useUserStore } from '../stores/user.js'
import GameCard from '../components/GameCard.vue'
import router from '../router/index.js'

const userStore = useUserStore()

const userGames = ref(undefined)

if (!userStore.jwt) {
  router.push('/')
}

onMounted(async () => {
  const gatewayUrl = import.meta.env.VITE_GATEWAY_URL

  const url = `${gatewayUrl}/steam-api/getUserGames`
  const axiosConfig = {
    headers: {
      Authorization: `Bearer ${userStore.jwt}`
    }
  }

  userGames.value = (await axios.get(url, axiosConfig)).data
})
</script>

<template>
  <div class="mt-16 w-100">
    <v-container>
      <div v-if="userGames">
        <v-row>
          <game-card v-for="game in userGames" :key="game.appid" :game="game" />
        </v-row>
      </div>
      <div v-else class="text-center">
        <v-progress-circular
          indeterminate
          color="primary"
        />
      </div>
    </v-container>
  </div>
</template>
