<script setup>
import { onMounted, ref, watch } from 'vue'
import axios from 'axios'

import { useUserStore } from '../stores/user.js'
import GameCard from './GameCard.vue'

const userStore = useUserStore()

const page = ref(1)
const lastPage = ref(0)
const games = ref(undefined)
const searchName = ref('')

watch(() => page.value, async page => {
  const response = searchName.value
    ? await searchGamesByName(searchName.value, page)
    : await fetchGamesPage(page)

  games.value = response.games
  lastPage.value = response.lastPage
})

const handleSearching = async () => {
  page.value = 1
  const response = searchName.value !== ''
    ? await searchGamesByName(searchName.value, page.value)
    : await fetchGamesPage(page.value)

  games.value = response.games
  lastPage.value = response.lastPage
}

const searchGamesByName = async (name, page) => {
  games.value = undefined

  const gatewayUrl = import.meta.env.VITE_GATEWAY_URL

  const url = `${gatewayUrl}/steam-api/getGamesByName?nameRegex=${name}&page=${page - 1}`
  const axiosConfig = {
    headers: {
      Authorization: `Bearer ${userStore.jwt}`
    }
  }

  const response = await axios.get(url, axiosConfig)
  return { games: response.data, lastPage: response.headers.get(['Last-Page']) }
}

const fetchGamesPage = async page => {
  games.value = undefined

  const gatewayUrl = import.meta.env.VITE_GATEWAY_URL

  const url = `${gatewayUrl}/steam-api/getGamesPage?sort=true&page=${page - 1}`
  const axiosConfig = {
    headers: {
      Authorization: `Bearer ${userStore.jwt}`
    }
  }

  const response = await axios.get(url, axiosConfig)

  return { games: response.data, lastPage: response.headers.get(['Last-Page']) }
}

onMounted(async () => {
  const response = await fetchGamesPage(page.value)

  games.value = response.games
  lastPage.value = response.lastPage
})
</script>

<template>
  <div v-if="games">
    <div class="d-flex justify-center">
      <v-text-field class="search-field" label="Search" variant="solo" v-model="searchName" @keydown.enter="handleSearching" />
    </div>
    <v-row>
      <game-card v-for="game in games" :key="game.appid" :game="game" />
    </v-row>
    <div class="text-center mt-5">
      <v-pagination
        v-model="page"
        :length="lastPage"
        :total-visible="7"
      />
    </div>
  </div>
  <div v-else class="text-center">
    <v-progress-circular
      indeterminate
      color="primary"
    />
  </div>
</template>

<style lang="scss" scoped>
.search-field {
  max-width: 500px;
}
</style>
