<script setup>
import router from '../router/index.js'

const props = defineProps({
  game: Object
})

const showGameDetails = appId => {
  router.push(`/game/${appId}`)
}
</script>

<template>
  <v-col cols="4" class="d-flex">
    <v-card class="flex-grow-1" @click="() => showGameDetails(game.appid)">
      <v-img
        :src="props.game.headerImage ?? 'https://cdn.pixabay.com/photo/2018/03/13/22/53/puzzle-3223941_960_720.jpg'"
        cover
      >
        <div class="position-absolute thumbs-section">
          <div class="ml-2 d-flex align-center">
            <v-icon icon="mdi-thumb-up" size="16" color="green" /><span class="ml-1 mr-1 text-white">{{ props.game.totalPositive }}</span>
            <v-icon icon="mdi-thumb-down" size="16" color="red" /><span class="ml-1 text-white">{{ props.game.totalNegative }}</span>
          </div>
        </div>
      </v-img>
      <v-card-title>{{ props.game.name ?? 'Unknown' }}</v-card-title>
      <v-divider />
      <v-card-text>{{ props.game.shortDescription }}</v-card-text>
    </v-card>
  </v-col>
</template>

<style lang="scss" scoped>
.thumbs-section {
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
