<script setup>
import { useRouter } from 'vue-router'
import { useUserStore } from '../stores/user.js'

const router = useRouter()
const userStore = useUserStore()

const steamSignInReturnUrl = `${window.location.origin}/steam-auth`
const steamSignInUrl = `https://steamcommunity.com/openid/login?openid.ns=http://specs.openid.net/auth/2.0&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.return_to=${steamSignInReturnUrl}&openid.realm=${steamSignInReturnUrl}&openid.mode=checkid_setup`

const returnToHomePage = () => router.push('/')
const openUserProfile = () => router.push('/user')
</script>

<template>
  <v-app-bar>
    <img
      class="h-75 pointer"
      src="@/assets/steamx-logo.png"
      @click="returnToHomePage"
    />
    <template v-slot:append>
      <a v-if="!userStore.userDetails?.username" :href="steamSignInUrl">
        <v-btn variant="outlined" color="primary">Sign In</v-btn>
      </a>
      <div class="d-flex" v-else>
        <h3 class="d-flex align-center mr-2">{{ userStore.userDetails.username }}</h3>
        <v-img v-ripple :src="userStore.userDetails.avatar" width="40" class="rounded pointer" @click="openUserProfile" />
      </div>
    </template>
  </v-app-bar>
</template>