<script setup>
import { RouterView } from 'vue-router'
import TopBar from './components/TopBar.vue'
</script>

<template>
  <v-layout>
    <top-bar />
    <RouterView />
  </v-layout>
</template>

<style scoped lang="scss"></style>
